/*==========================================================================*

  File:        styles.css
  Purpose:     

  Project:     Snowy's personal site
  Author:      Snowy  –  snow2code@protonmail.com
  Copyright:   © 2025 Snow2Code. All rights reserved.
               This is personal hobby code. No warranty, no promises.
               Please don’t nick it without asking.

 *==========================================================================*/


/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #D5A6FF;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


/* Highlights */
.highlight {
    color: #8A2BE2;
    text-shadow: -0.7px 0 white, 0 0.5px white, 0.5px 0 white, 0 0.5px white;
}

.highlight-orange {
    color: #FFA600;
    text-shadow: -0.7px 0 white, 0 0.5px white, 0.5px 0 white, 0 0.5px white;
}

.home-highlight, .main-highlight {
    /* Old text color: FFA600 */
    font-size: 2rem;
    font-weight: bold;
    /* color: linear-gradient(to right, #5fffa2, #ff7e5f); */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    text-shadow: -0.7px 0 #ff7e5f, 0 0.5px #5fffa2, 0.5px 0 white, 0 0.5px white;
}

/* Header and Footer */
header, footer {
    background-color: #333;
    color: #fff;
}

.header-container, .footer-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1, footer h1 {
    font-size: 1.8rem;
}

header nav ul, footer nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

header nav ul li a, footer nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    padding: 10px 15px;
    border-radius: 5px;
    transition: color 0.3s, box-shadow 0.3s, transform 0.3s;
    position: relative;
}

header nav ul li a, footer nav ul li a {
    position: relative;
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    padding: 10px 15px;
    border-radius: 5px;
    transition: color 0.3s;
}


header nav ul li a:hover, footer nav ul li a:hover {
    color: #8A2BE2;
}


/* Content */
main {
    flex: 1;
    /* background: url('your-background-image.png') no-repeat center center; */
    background-size: cover;
}

.intro {
    text-align: center;
    padding: 50px 20px;
}

.intro h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.intro p {
    font-size: 1.5rem;
}



/* Responsive design */
@media (max-width: 768px) {
    .header-container, .footer-container {
        flex-direction: column;
        text-align: center;
    }

    .intro h2 {
        font-size: 2rem;
    }

    .intro p {
        font-size: 1.2rem;
    }
}

@media (max-width: 480px) {
    .header-container h1, .footer-container h1 {
        font-size: 1.5rem;
    }

    header nav ul, footer nav ul {
        flex-direction: column;
        gap: 10px;
    }

    .intro h2 {
        font-size: 1.8rem;
    }

    .intro p {
        font-size: 1rem;
    }
}